* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gabarito", serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
  gap: 10px;
  background-color: aliceblue;
  position:sticky;
  top: 0;
  z-index: 1;
}
.navbar__s1__tittle {
  color: #a435f0;
}

.navbar__s2 {
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
  width: 70%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s2 input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.navbar__s4{
  display:none;
  cursor: pointer;

}
/* My learning popup */
.MyLearning{
  position: relative;
}
.MyLearning__popup{
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: solid #a435f0 4px;
  border-radius: 8px;
  width: 100px;
  top: 150%;
  padding: 10px;
  right: 0;
  display: none;

}
.MyLearning:hover .MyLearning__popup{
  display: block;

}
.categories {
  display: flex;
  padding: 10px;
  border-bottom: solid black 1px;
  justify-content: space-around;
}
.categories p {
  background-color: #a435f0;
  color: white;
  padding: 10px;
  border-radius: 23px;
  cursor: pointer;
  border: solid #a435f0 2px;
}
.categories p:hover{
  transition: 1s;
  background-color: transparent;
  color: black;
  border: solid #a435f0 2px;
}
.sale-image {
  background-color: #a435f0; 
  border: solid #a435f0 5px;
  position: relative;
}
.sale-image img {
  object-fit:fill;
  width: 85%;
  margin-left: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 15px;
  border: solid white 2px;
 
  
}
.sale-image__1{
  background-color: #d4d2d5;
  width:20%;
  margin-left: 100px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  animation-name: zoom;
  animation-duration: 2s;
  animation-iteration-count:inherit;
  cursor: pointer;
  
}
@keyframes zoom{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.recommended__tittle {
  font-size: 45px;
}

.recommended {
  padding: 10px;
}
.recommended__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.course-card {
  flex-grow: 1;
  flex-basis: 20%;
  margin: 5px;
  background-color: #f6f2f9;
  border-radius: 10px;
  border: solid #0a0008e6 3px;
  cursor: pointer;
}

.course-card img {
  width: 100%;
  height: 50%;
}
.course-card,
h3 p {
  padding: 10px;
}
.course-card p {
  padding-right: 10px;
}
.topics {
  padding: 10px;
}
.topics__container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;

  
}
.topics__container p {
  border: solid gray 2px;
  padding: 10px;
  margin-top: 10px;
  flex-grow: 1;
  flex-basis: 25%;
  border-radius: 5px;
  cursor: pointer;
} 
.topics__container p:hover{
  transition: 1s;
  background-color: transparent;
  color: black;
  border: solid #a435f0 2px;
}

.popular{
  padding: 10px;
}
.popular__tittle{
  font-size: 45px;
}
.popular__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.course-cards{
  flex-grow: 1;
  flex-basis: 20%;
  margin: 5px;
  background-color: #f6f2f9;
  border-radius: 10px;
  border: solid #0a0008e6 3px;
  cursor: pointer;
}
.course-cards img {
  width: 100%;
  height: 50%;
  
}
.course-cards:hover{
  transition: 2s;
  transform: rotateX(180deg);
}
.course-cards,h3 p {
  padding: 10px;
}
.course-cards p {
  padding-right: 10px;
}
.footer{
  padding: 20px;
  background-color: #111116;
  color: white;
  gap: 20px;
  cursor: pointer;
}
/* .footer__container:hover{
  transition: 1s;
  background-color: transparent;
  color: hsl(0, 26%, 95%);
  border: solid #a435f0 2px;
} */
.footer__container{
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 30px;
}
.footer__last{
  display: flex;
  justify-content: center;
  
}
.footer__container p{
  margin:20px ;
}
.footer__touch{
  display: flex;
  justify-content: center;

}

/* Media Queries */

@media screen and (max-width:800px) {
  body{
    font-size: 10px;
  } 
}
@media screen and (max-width:500px) {
 .course-card{
  flex-basis: 40%;
 } 
}
@media screen and (max-width:500px) {
  .course-cards{
   flex-basis: 40%;
  } 
 }

 @media screen and (max-width:600px) {
  .categories{
    display: none;
  } 
 }
 @media screen and (max-width:600px) {
  .navbar__s2,.navbar__s3{
    display: none;
  } 
 }
 @media screen and (max-width:600px) {
  .navbar__s4{
    display:block;
    
  } 
 }

 @media screen and (max-width:600px) {
  .sale-image__1{
   font-size: 5px;
   margin-right: 40px;
  } 
 }
 @media screen and (max-width:600px) {
  .sale-image img{
    width: 80%;
    margin-right: 10px;
   
  } 
 }


